.linespace {
    margin-top: 0%;
    margin-bottom: 0%
}

h2 { 
    text-indent: 50%;  
    color: black;
    font-family: 'Times New Roman', Times, serif
    font: size 300%;
    background-color: pink;
    }

    h3{
        text-indent: 50%;  
        color: white;
        font : size 200%;
        background-color:black;
        font-family: 'Times New Roman', Times, serif; 
        }

h4 {
    text-indent: 50%;  
    color: black;
    font-family: 'Times New Roman', Times, serif
    font: size 300%;
    background-color: pink;
    }

    .custards{ 
        text-decoration: underline;
        } 

     